.navlink.active {
  background-color: rgb(73, 86, 85);
  color: rgb(206, 41, 41);
  padding: 4px 8px;
  border-radius: 4px;
}

.navbar {
  background-color: rgb(18, 158, 183);
  color: white;
  min-width: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 90vh;
  padding: 30px 2px 30px 20px;
  overflow: hidden;
}

.navlink {
  text-decoration: none;
  color: greenyellow;
  font-size: large;
  margin-bottom: 20px;
}
.box{
  overflow: auto;
  min-width: 148vh;
 background-color: rgb(127, 176, 176);
 color: blue;
 max-height: 90vh;

}

/* css fo qui;ll */
.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  text-align: center;
  padding: 12px;
}
